# Base de données
DB_HOST=mysql
DB_NAME=club
DB_USER=root
DB_PASSWORD=

# Ports locaux (optionnel)
PHP_MVC_PORT=8083
SYMFONY_PORT=8081
PMA_PORT=8082

# Symfony
APP_ENV=dev
APP_SECRET=changeme_with_a_random_string
